.catalog-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    position: relative;
    top: 100px;
    padding: 30px 30px;
}

.outer-container {
    width: 100%;
    position: relative;
    top: 100px;
    text-align: center;
}

.outer-container h3 {
    font-size: 18px;
    font-weight: 900;
}