.course-card {
    width: 300px;
    height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 30px;
}

.course-card img {
    width: 60%;
}

.course-card .course-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-details h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
}

.course-details a {
    margin: 10px;
}